@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --color7: #FFFFFF;
  --color6: #333333;
  --color5: #ccdbdf;
  --color4: #9dadbf;
  --color3: #7a9cba;
  --color2: #54737e;
  --color1: #334c51;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color2);
}

@media (max-width: 1048px) {
  nav ul {
    margin-right: 20px;
  }

  nav ul a {
    font-size: 20px;
  }
}

@media (max-width: 935px) {
  #navIcon {
    display: block !important;
  }

  nav ul {
    background: var(--color1);
    text-align: center;
    position: fixed;
    display: block !important;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
    border-bottom: 1px solid var(--color4);
    padding: 5vh 0 5vh 0;
  }

  nav ul li:last-child {
    padding: 5vh 0 5vh 0;
  }

  nav ul a {
    font-size: 15px;
  }

  #home .column:nth-child(2) {
    font-size: 40px !important;
  }

  #aboutme .contentWrapper {
    flex-direction: row !important;
    width: 100%;
  }

  #aboutme .contentWrapper {
    justify-content: space-between;
  }

  #aboutme .contentWrapper .column {
    width: 100%;
  }

  #aboutme .contentWrapper .column p {
    width: 100%;
    font-size: 10px;
  }

  #aboutme .contentWrapper .column:nth-child(1) {
    display: none;
  }

  #aboutme .contentWrapper .column:nth-child(2) {
    width: 50%;
  }

  #aboutme .contentWrapper .column:nth-child(2)::before {
    content: 'About Me';
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  #aboutme .contentWrapper .column:nth-child(3) {
    width: 50% !important;
  }

  #aboutme .contentWrapper .column:nth-child(3) img {}

  .readMore {
    font-size: 8px;
  }

  #aboutMeContent {
    max-height: 80% !important;
  }
}

@media (max-width: 540px) {
  #home h1 {
    font-size: 40px !important;
  }

  #home .column:nth-child(2) {
    font-size: 30px !important;
    font-weight: normal;
  }

  #aboutme .contentWrapper .column:nth-child(3) img {
    width: 100% !important;
  }
}

body {
  background: var(--color2);
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 20px;
}

/*Navigation Bar*/
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color1);
  height: 100px;
  width: 100%;
  z-index: 1;
  opacity: 95%;
  user-select: none;
  transition: .3s;
}

nav #logoWrapper {
  width: 170px !important;
  height: 91px !important;
  position: relative;
  margin: 0 0 0 20px;
  background-repeat: no-repeat;
  background: #FFFFFF;
  display: flex;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color2);
}

#logoWrapper img {
  width: 100%;
  height: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  left: -100%;
  transition: all .5s;
}

nav ul.show {
  left: 0 !important;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color4);
  font-size: 25px;
  border-right: 1px solid #FFF;
  padding: 0px 10px;
}

nav li:last-child {
  border: none;
  padding: 0px 10px;
}

nav li a {
  transition: .3s;
  color: inherit;
  z-index: 1;
  padding: 5px 10px;
  border: 1px solid transparent;
}

nav li a:after {}

nav li a:hover {
  border: 1px solid var(--color3);
  border-radius: 5px;
}

#navIcon {
  display: none;
  color: var(--color4);
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin: 0 40px 0 0;
  cursor: pointer;
}

/*Sections*/
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section h1 {
  background: var(--color4);
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 80%;
  color: var(--color2);
}

#services {
  background-image: url("images/happyCouple.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 40px solid var(--color2);
  border-right: 40px solid var(--color2);
}

/*Content*/
.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--color7);
}

/*Home*/
#home .contentWrapper {
  flex-direction: column;
  background-image: url("images/river.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .column:nth-child(1) {
  width: 100%;
  text-align: center;
  background: none;
  border-radius: none;
  opacity: 100%;
}

#home h1 {
  border-radius: 0;
  opacity: .95;
  background-color: var(--color7);
  color: black;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: auto;
  text-align: center;
  position: relative;
  mix-blend-mode: screen;
  text-shadow: inset 0 0 8px black;
}

#home h2{
  border-radius: 0;
  opacity: .95;
  background-color: var(--color7);
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0px;
  width: auto;
  text-align: center;
  position: relative;
  mix-blend-mode: screen;
  text-shadow: inset 0 0 8px black;
}

#home .column:nth-child(2) {
  font-size: 80px;
  color: var(--color7);
}

/*About Me*/
#aboutme .contentWrapper .column {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 100%;
}

#aboutme .contentWrapper .column p {
  color: var(--color1);
}

#aboutme .contentWrapper .column:nth-child(2) {
  text-align: left;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

#aboutme .contentWrapper .column:nth-child(1) {
  width: 20%;
}

#aboutme .contentWrapper .column:nth-child(2) {
  Width: 45%;
}

#aboutme .contentWrapper .column:nth-child(3) {
  width: 35%;
  height: 100%;
  background: var(--color7);
  background-image: url("images/gradient.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#aboutme .contentWrapper .column img {
  width: 75%;
  padding: 20px;
}

#aboutMeContent {
  max-height: 300px;
  overflow-y: auto;
}

/*About Navi*/
#aboutnavi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#naviContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--color7);
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#aboutnavi h1 {
  background: transparent;
  color: var(--color5);
  font-size: 50px;
}

#aboutnavi p {
  color: var(--color5);
  text-align: center;
  padding: 10px 30px 0 30px;
  margin: 0px 20% 0 20%;
  background: var(--color2);
  border-radius: 20px;
  border-right: 2px solid var(--color5);
  border-left: 2px solid var(--color5);
  max-height: 200px;
  overflow-y: auto;
  font-size: 14px;
}

#naviText {
  background: var(--color4);
  background-image: url('images/forest.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 0 40px 0;
}

#naviContainer .imageDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 10px 5px;
}

#naviContainer .imageDisplay img {
  width: 90%;
  height: 90%;
  margin: 10px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: .5s;
}

#naviContainer .imageDisplay img:hover {
  transform: scale(1.2, 1.2);
  transition: .5s;
  z-index: 1;
}

/*Read More Text*/
.startText {}

.moreText {
  display: none;
  transition: .5s;
}

.readMore {
  background: var(--color2);
  color: var(--color7);
  border: none;
  padding: 10px 15px;
  width: auto;
  cursor: pointer;
  margin: 20px 0 0 0;
  user-select: none;
  outline: none;
}

/*Services*/
#services {
  display: block;
  flex-direction: column;
}

#serviceTitle h1 {
  background: none;
  font-weight: bold;
  padding: 20px;
}

#serviceTitle {
  background: var(--color7);
  width: 100%;
  text-align: center;
  opacity: .8;
  user-select: none;
}

#servicesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--color4);
}

.serviceHeading {
  text-align: center;
  color: var(--color7);
  margin: 10px 20px;
  padding: 5px 10px;
  user-select: none;
  cursor: pointer;
  transition: .3s;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.serviceHeading:hover {
  border-bottom: 1px solid var(--color2);
  transition: .3s;
}

#servicesDescriptionContainer {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(110, 200, 201, 0) 0%, rgba(200, 200, 200) 100%);
  height: 80%;
  width: 100%;
  text-align: center;
  padding: 40px;
}

.serviceDescription {
  display: block;
  width: 70%;
  padding: 10px 30px;
  display: none;
  text-align: center;
  color: var(--color6);
  overflow-y: auto;
  transition: .5s;
}

.serviceImage {
  display: none;
  width: 50%;
}

.contactcontainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border: 2px solid var(--color7);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: var(--color2);
  padding: 30px;
}

#contact {
  border-top: 3px solid var(--color7);
  background: var(--color3);
  padding: 25px;
  background-image: url('images/contact.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact h3 {
  color: var(--color5);
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  color: var(--color4);
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

#contact fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid var(--color6);
  background: var(--color7);
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--color5);
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--color5);
  color: var(--color1);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--color3);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: var(--color6);
}

:-moz-placeholder {
  color: var(--color6);
}

::-moz-placeholder {
  color: var(--color6);
}

:-ms-input-placeholder {
  color: var(--color6);
}
