@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --color7: #FFFFFF;
  --color6: #333333;
  --color5: #ccdbdf;
  --color4: #9dadbf;
  --color3: #7a9cba;
  --color2: #54737e;
  --color1: #334c51;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color2);
}

@media (max-width: 1048px) {
  nav ul {
    margin-right: 20px;
  }

  nav ul a {
    font-size: 20px;
  }
}

@media (max-width: 935px) {
  #navIcon {
    display: block !important;
  }

  nav ul {
    background: var(--color1);
    text-align: center;
    position: fixed;
    display: block !important;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
    border-bottom: 1px solid var(--color4);
    padding: 5vh 0 5vh 0;
  }

  nav ul li:last-child {
    padding: 5vh 0 5vh 0;
  }

  nav ul a {
    font-size: 15px;
  }

  #home .column:nth-child(2) {
    font-size: 40px !important;
  }

  #aboutme .contentWrapper {
    flex-direction: row !important;
    width: 100%;
  }

  #aboutme .contentWrapper {
    justify-content: space-between;
  }

  #aboutme .contentWrapper .column {
    width: 100%;
  }

  #aboutme .contentWrapper .column p {
    width: 100%;
    font-size: 10px;
  }

  #aboutme .contentWrapper .column:nth-child(1) {
    display: none;
  }

  #aboutme .contentWrapper .column:nth-child(2) {
    width: 50%;
  }

  #aboutme .contentWrapper .column:nth-child(2)::before {
    content: 'About Me';
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  #aboutme .contentWrapper .column:nth-child(3) {
    width: 50% !important;
  }

  #aboutme .contentWrapper .column:nth-child(3) img {}

  .readMore {
    font-size: 8px;
  }

  #aboutMeContent {
    max-height: 80% !important;
  }
}

@media (max-width: 540px) {
  #home h1 {
    font-size: 40px !important;
  }

  #home .column:nth-child(2) {
    font-size: 30px !important;
    font-weight: normal;
  }

  #aboutme .contentWrapper .column:nth-child(3) img {
    width: 100% !important;
  }

}

body {
  background: var(--color2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 20px;
}

/*Navigation Bar*/
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color1);
  height: 100px;
  width: 100%;
  z-index: 1;
  opacity: 95%;
  user-select: none;
  transition: .3s;
}

nav #logoWrapper {
  width: 170px !important;
  height: 91px !important;
  position: relative;
  margin: 0 0 0 20px;
  background-repeat: no-repeat;
  background: #FFFFFF;
  display: flex;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color2);
}

#logoWrapper img {
  width: 100%;
  height: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  left: -100%;
  transition: all .5s;
}

nav ul.show {
  left: 0 !important;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color4);
  font-size: 25px;
  border-right: 1px solid #FFF;
  padding: 0px 10px;
}

nav li:last-child {
  border: none;
  padding: 0px 10px;
}

nav li a {
  transition: .3s;
  color: inherit;
  z-index: 1;
  padding: 5px 10px;
  border: 1px solid transparent;
}

nav li a:after {}

nav li a:hover {
  border: 1px solid var(--color3);
  border-radius: 5px;
}

#navIcon {
  display: none;
  color: var(--color4);
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin: 0 40px 0 0;
  cursor: pointer;
}

/*Sections*/
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section h1 {
  background: var(--color4);
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 80%;
  color: var(--color2);
}

.section:nth-child(5) {
  background-image: url("images/happyCouple.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 40px solid var(--color2);
  border-right: 40px solid var(--color2);
}

/*Content*/
.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--color7);
}

/*Home*/
#home .contentWrapper {
  flex-direction: column;
  background-image: url("images/river.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .column:nth-child(1) {
  width: 100%;
  text-align: center;
  background: none;
  border-radius: none;
  opacity: 100%;
}

#home h1 {
  border-radius: 0;
  opacity: .95;
  background-color: var(--color7);
  color: black;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: auto;
  text-align: center;
  position: relative;
  mix-blend-mode: screen;
  text-shadow: inset 0 0 8px black;
}

#home .column:nth-child(2) {
  font-size: 80px;
  color: var(--color7);
}

/*About Me*/
#aboutme .contentWrapper .column {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 100%;
}

#aboutme .contentWrapper .column p {
  color: var(--color1);
}

#aboutme .contentWrapper .column:nth-child(2) {
  text-align: left;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

#aboutme .contentWrapper .column:nth-child(1) {
  width: 20%;
}

#aboutme .contentWrapper .column:nth-child(2) {
  Width: 45%;
}

#aboutme .contentWrapper .column:nth-child(3) {
  width: 35%;
  height: 100%;
  background: var(--color7);
  background-image: url("images/gradient.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#aboutme .contentWrapper .column img {
  width: 75%;
  padding: 20px;
}

#aboutMeContent {
  max-height: 300px;
  overflow-y: auto;
}

/*About Navi*/


/*Read More Text*/
.startText {}

.moreText {
  display: none;
  transition: .5s;
}

.readMore {
  background: var(--color2);
  color: var(--color7);
  border: none;
  padding: 10px 15px;
  width: auto;
  cursor: pointer;
  margin: 20px 0 0 0;
  user-select: none;
  outline: none;
}

/*Services*/
#practiceinfo {
  display: block;
  flex-direction: column;

}

#serviceTitle h1 {
  background: none;
  font-weight: bold;
  padding: 20px;
}

#serviceTitle {
  background: var(--color7);
  width: 100%;
  text-align: center;
  opacity: .8;
  user-select: none;
}

#servicesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--color4);
}

.serviceHeading {
  text-align: center;
  color: var(--color7);
  margin: 10px 20px;
  padding: 5px 10px;
  user-select: none;
  cursor: pointer;
  transition: .3s;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.serviceHeading:hover {
  border-bottom: 1px solid var(--color2);
  transition: .3s;
}

#servicesDescriptionContainer {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(110, 200, 201, 0) 0%, rgba(255, 255, 255) 100%);
  height: 80%;
  width: 100%;
  text-align: center;
  padding: 40px;
}

.serviceDescription {
  display: block;
  width: 70%;
  padding: 10px 30px;
  display: none;
  text-align: center;
  color: var(--color1);
  overflow-y: auto;
  transition: .5s;
}










#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
